@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
}
.main-grid-container {
    display: grid;
    grid-gap: 0.6rem;
    justify-content: center;
}
h1 {
color:  rgb(37, 167, 190);
text-align: center;
}

.section  img {
    width: 5rem;
    border-radius: 1rem;
    height: 50%;
}

.section {
    display: flex; 
    background-color: #333; 
   border-radius:1rem;
   border: 1px solid #ddd;
   text-align: center;
   position: relative;
   transition: .3s;
    margin: 1rem;
}

.section .bg2 {
    position: absolute;
    width: 100%;
    height: 100%;
    /* Add the blur effect */
    filter: blur(5px);
    -webkit-filter: blur(5px);
    object-fit: cover;

}
.drink-details {
  padding: 1rem;
  font-size: 1rem;
}
.section span {
position: absolute;
right: 0;
bottom: 0;
background-color: rgb(37, 167, 190);
padding: 8px 20px;
font-size: 0.8rem;
font-weight: 700;
border-radius:15px 0 15px 0;
}
.section h5 {
    border-bottom: 1px dashed #ddd;
    /* position: absolute; */
    text-transform: capitalize;
  
}
/* .section p {
  position: absolute;
} */

@media (min-width: 900px) {
    .drinks-section{
        display: grid;
        grid-template-columns: repeat(3, 15rem);
        grid-template-rows: repeat(5, 10rem);
        grid-gap: 2rem;
    }
    .section{
        margin: 0;
        display: flex;
    }
    .section  img {
      width: 5rem;
      border-radius: 1rem;
      height: 100%;
  }
  .drink-details { 
    padding: 2rem;
    font-size: 1rem;
  }
  
}
.container{
    width: 1200px;
    margin: 0 auto;
}
   /**
 * Tabs
 */
 .tabs {
    display: flex;
    flex-wrap: wrap;
  }
  
  .tabs label {
    order: 1;
    display: block;
    padding: 1rem 2rem;
    margin-right: 0.2rem;
    cursor: pointer;
    background: rgb(37, 167, 190);
    border-radius: 0.2rem;
    color: #333;
    font-weight: bold;
    transition: background ease 0.2s;
  }
  
  .tabs .tab {
    order: 99;
    flex-grow: 1;
    width: 100%;
    display: none;
    padding: 1rem;
    background: #fff;
  }
  
  .tabs input[type=radio] {
    display: none;
  }
  
  .tabs input[type=radio]:checked + label {
    background: #fff;
  }
  
  .tabs input[type=radio]:checked + label + .tab {
    display: block;
  }
  
  @media (max-width: 45em) {
    .tabs .tab,
  .tabs label {
      order: initial;
    }
  
    .tabs label {
      width: 100%;
      margin-right: 0;
      margin-top: 0.2rem;
      /* position: fixed; */
    }
  }

  /**
   * Generic Styling
  */
  body {
    background: #eee;
    color: #fff;
    min-height: 100vh;
    box-sizing: border-box;
    padding-top: 10vh;
    /* font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; */
    font-weight: 300;
    line-height: 1.5;
    max-width: 60rem;
    margin: 0 auto;
    font-size: 112%;
  }
